asgiref
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
psycopg2-binary
python-dotenv
django-cqrs
pika>=1.0.0
kombu>=4.6
ujson>=3.0.0
django-model-utils>=4.0.0
python-dateutil>=2.4
celery
cryptography
django-celery-beat
channels[daphne]
channels-redis
django-rest-passwordreset
uvicorn
gunicorn
asyncpg
uvloop
certifi
django-altcha